<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @board.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
